@mixin center-item {
    margin-left: auto;
    margin-right: auto;
}

@mixin login-size {
    width: 60%;
    max-width: 60rem;
    min-width: 15rem;
}

ion-content {
    --background: transparent url('../../../assets/img/background.jpg') no-repeat center center / cover;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    .login-header {
        @include login-size();
        .logo {
            @include center-item();
            width: 10rem;
            height: 10rem;
            padding: 1rem;
        }

        .login-title {
            text-align: center;
        }
    }

    .login-form {
        @include login-size();
        background-color: #ffffff;
    
        .error {
            color: var(--ion-color-danger);
            padding: 0.8rem;
            margin-left: 1rem;
        }

        .item-margin {
            margin: {
                right: 1rem;
                left: 1rem;
                top: 1rem;
            }
        }

        .icon-input {
            float: left;
        }

        .toggle-item {
            margin: {
                left: 1rem;
                top: 1rem;
            }

            .toggle {
                margin-left:auto;
            }
        }
    }

}

.register {
    @include center-item();
    position: absolute;
    bottom: 0;
    left: 0;
}

@media all and (min-width: 960px) {
    .login-header {
        background-color: #ffffff;
    }

    .button-submit {
        @include center-item();
        margin: {
            bottom: 1rem;
            top: 1rem;
        }
        width: 12rem;
        height: 3rem;
        color: black;
        background: transparent;
        border: 0.1rem solid var(--ion-color-primary);
        border-radius: 2rem;
    }
}

@media not all and (min-width: 960px) {
    .login-title {
        display: none;
    }
    
    .button-item {
        --inner-padding-end: 0px ;
    }

    .button-submit {
        @include center-item();
        width: 100%;
        height: 100%;
        color: white;
        background-color: var(--ion-color-primary);
    }
}

.ion-update {
    --highlight-background: var(--highlight-color-focused);
}